<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sfAppName" value="fabric:/Marta.Runtime.HostApplication"/>
    <add key="sfSvcNameTemplate" value="{0}ActorService"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
</configuration>